* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 880px;
  margin: 25px 0 0 0;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin: 15px;
  justify-content: space-between;
  align-items: center;
}
